*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Permanent Marker', cursive;
  background-color: #14213D;
}

.wrapper {
  padding: 10px;
  margin: 50px;
  background-image: url(city-work-pic.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

header {
  margin-top: 20px;
  width: 100%;
  background-color: #14213D;
}

.nav-item {
  padding: 20px;
  font-size: 30px;
}

.highscore-link {
  color: #FCA311;
}

a:hover {
  color: #E5E5E5;
}

.timer-display {
  color: #E5E5E5 !important;
}

.card {
  background-color: #E5E5E5;
  border-radius: 5px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header {
  text-align: left;
}

.card-body {
  min-height: 100px;
  text-align: left !important;
}

.card-footer {
  text-align: left;
}

.start-page .card-header, .card-body, .card-footer {
  text-align: center;
}


.btn {
  border: none;
  background-color: #FCA311;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  margin: 5px 5px 5px 10px;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

#highscore-list {
  list-style-type: none;
}


@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}